<div id="site-description">
    <br>
    Background: <button class="ui-btn" id="themeToggle">black</button> / <button class="ui-btn" id="themeToggle2">white</button><br>
    Font: <button class="ui-btn" id="fontToggle">serif</button> / <button class="ui-btn" id="fontToggle2">sans</button><br>
    Accent color: <input type="color" id="accentColor" value="#0000FF" class="color-input"><br>
    Last update: <time id="lastModified"></time>.<br>
    All rights reserved © <a href="index.html">Andrew Kuzmin</a>.<br>
</div>