/* @charset "UTF-8"; */

*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
a {
}
	img {
	  max-width: 100%;
	  height: auto;
	}
#site-description .filter-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-family: times;
    padding: 0px 0px;
    margin: 0 0px;
    text-decoration: underline;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0px;
    padding-top: 0;
    justify-content: start;
}
.project-container {
    justify-content: center;
    align-items: center;
}
.project-container img {
    max-width: 100%; /* Makes the image take up the full width of the column */
    height: auto; /* Enables maintaining aspect ratio */
}
.grid-item {
    padding: 0px;
    text-align: center;
}
.grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
